<app-user-search (userSearch)="handleUserSelected($event)" [searchResult]="searchInfo"></app-user-search>
<app-search [searchTerm]="searchTerm" searchRoute="admin-page/search"></app-search>
<app-status-filter [statusTerm]="statusTerm" statusRoute="admin-page/status"></app-status-filter>
<div class="tasks-container">
    <div *ngFor="let item of task" class="task-item">
        <a (click)="goto(item._id)">
            <app-admin-task-card [task]="item"></app-admin-task-card>
        </a>
    </div>
</div>
<button class="add-task-btn" (click)="createTask()">
    <mat-icon>note_add</mat-icon>
</button>